{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html class="no-js">
    
    <head>
        <title>Admin Home Page</title>
        <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'vendors/easypiechart/jquery.easy-pie-chart.css' %}" rel="stylesheet" media="screen">
        <link href="{% static 'assets/styles.css' %}" rel="stylesheet" media="screen">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{% static 'vendors/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    </head>
    
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row-fluid">

                {% include 'sidebar.html' %}

                {% block yield %}{% endblock %}

            </div>
            <hr>
            <footer>
                <p>&copy; Vincent Gabriel 2013</p>
            </footer>
        </div>
        <!--/.fluid-container-->
        <script src="../../static/vendors/jquery-1.9.1.min.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/vendors/easypiechart/jquery.easy-pie-chart.js"></script>
        <script src="../../static/assets/scripts.js"></script>
        <script>
        $(function() {
            // Easy pie charts
            $('.chart').easyPieChart({animate: 1000});

            $.get("/api/result/?format=json", function(r){

                var objects = r.objects;

                objects.forEach(function(e) {
                    $('#api_test').append('<div>' + e.name + '</div>');
                });

            });

        });
        </script>
    </body>

</html>