<div class="navbar navbar-fixed-top" style="position: absolute">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </a>
			
            <a class="brand" href="/index">
				<span style="margin-right:5px;float:left;"><img src="../static/images/labtocat.png" style="width:60px" /></span>
				<span style="float:left;"><h1>Octocat's Data Lab</h1></span>

			</a>
            <span style="float:right;margin-top: 20px;color:#777"><h5>&nbsp;&nbsp;Powered by CMPE 272 Group 8</h5></span>
            <div class="nav-collapse collapse">

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>