<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </a>
			
            <a class="brand" href="#">
				<span style="margin-right:5px;float:left;"><img src="../static/images/octocat.png" /></span>
				<span style="float:left;"><h4>GitHub Data Analysis</h4></span>
			</a>
            <div class="nav-collapse collapse">

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>