<div class="span3" id="sidebar">
    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">

        <li id="intro" class="active">
            <a href="/index"><i class="icon-chevron-right"></i> Introduction</a>
        </li>
        <li id="mood">
            <a href="/form"><i class="icon-chevron-right"></i> Coding Mood</a>
        </li>
        <li>
            <a href="/index"><i class="icon-chevron-right"></i> Hottest Language</a>
        </li>
        <li>
            <a href="/index"><i class="icon-chevron-right"></i> Coder Style</a>
        </li>
        <li id="planet">
            <a href="/stats"><i class="icon-chevron-right"></i> Geek Planet </a>
        </li>

    </ul>
</div>
