<div class="span3" id="sidebar">
    <ul class="nav nav-list bs-docs-sidenav nav-collapse collapse">
        <li id="intro" class="active">
            <a href="/index"><i class="icon-chevron-right"></i>Introduction</a>
        </li>
		<li id="hottechs">
            <a href="/hottechs"><i class="icon-chevron-right"></i>Hottest Techs</a>
        </li>
        <li id="correlation">
            <a href="/correlation"><i class="icon-chevron-right"></i>Language Correlation</a>
        </li>
        <li id="trends">
            <a href="/trends"><i class="icon-chevron-right"></i>Productivity Patterns</a>
        </li>
        <li id="planet">
            <a href="/planet"><i class="icon-chevron-right"></i>Geek Planet</a>
        </li>
        <li id="mood">
            <a href="/mood"><i class="icon-chevron-right"></i>Coding Mood</a>
        </li>
    </ul>
</div>
