{% load staticfiles %}

<!DOCTYPE html>
<html>

<meta charset="utf-8">   
    <head>
        <title>Language Correlation</title>
        <!-- Bootstrap -->
        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../../static/assets/styles.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

         <script src="../../static/vendors/jquery-1.9.1.min.js"></script>
        <script src="../../static/vendors/jquery.knob.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.categories.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.pie.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.time.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.stack.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.resize.js"></script>
        <script src="../../static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="../../static/vendors/d3/d3.min.js"></script>
		<script src="../../static/vendors/d3.layout.cloud.js"></script>
		<script src="../../static/vendors/csvToArray.v2.1.min.js"></script>
		
		<style>
		
		
			#circle circle {
			  fill: none;
			  pointer-events: all;
			}

			.group path {
			  fill-opacity: .5;
			}

			path.chord {
			  stroke: #000;
			  stroke-width: .25px;
			}


		</style>
		
		
		
		
		<script type='text/javascript'>
		
		$(function() {
			$("ul.bs-docs-sidenav li").attr("class","");
		    $("#mood").attr("class","active");
			drawCorr()
		});

		function drawCorr(){
		
			
		
			var width = 500,
				height = 500,
				outerRadius = Math.min(width, height) / 2 - 10,
				innerRadius = outerRadius - 50;

			var formatPercent = d3.format(".1%");

			var arc = d3.svg.arc()
				.innerRadius(innerRadius)
				.outerRadius(outerRadius);

			var layout = d3.layout.chord()
				.padding(.04)
				.sortSubgroups(d3.descending)
				.sortChords(d3.ascending);

			var path = d3.svg.chord()
				.radius(innerRadius);

			var svg = d3.select("#chart_div").append("svg")
				.attr("width", width)
				.attr("height", height)
			  .append("g")
				.attr("id", "circle")
				.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

			svg.append("circle")
				.attr("r", outerRadius);

			d3.csv("{% static 'data/lan_names.csv' %}", function(lan) {
			  d3.text("{% static 'data/lan_correlation_matrix_pos.txt' %}", function(text) {
				var matrix=d3.csv.parseRows(text).map(function(d) {return d.map(function(i){return parseFloat(i)});});
				console.log(matrix);
				// Compute the chord layout.
				layout.matrix(matrix);
				// Add a group per neighborhood.
				var group = svg.selectAll(".group")
					.data(layout.groups)
				  .enter().append("g")
					.attr("class", "group")
					.on("mouseover", mouseover);

				// Add a mouseover title.
				group.append("title").text(function(d, i) {
				  return lan[i].name;
				});

				// Add the group arc.
				var fill = d3.scale.category20();
				var groupPath = group.append("path")
					.attr("id", function(d, i) { return "group" + i; })
					.attr("d", arc)
					.style("fill", function(d, i) { return fill(i); });

				// Add a text label.
				var groupText = group.append("text")
					.attr("x", 6)
					.attr("dy", 15);

				groupText.append("textPath")
					.attr("xlink:href", function(d, i) { return "#group" + i; })
					.text(function(d, i) { return lan[i].name; });

				// Remove the labels that don't fit. :(
				groupText.filter(function(d, i) { return groupPath[0][i].getTotalLength() / 2 - 16 < this.getComputedTextLength(); })
					.remove();

				// Add the chords.
				var chord = svg.selectAll(".chord")
					.data(layout.chords)
				  .enter().append("path")
					.attr("class", "chord")
					.style("fill", function(d) { return fill(d.source.index); })
					.attr("d", path);

				// Add an elaborate mouseover title for each chord.
				chord.append("title").text(function(d) {
				  return lan[d.source.index].name
					  + " -> " + lan[d.target.index].name
					  + ": " + formatPercent(d.source.value)
					  + "\n" + lan[d.target.index].name
					  + " -> " + lan[d.source.index].name
					  + ": " + formatPercent(d.target.value);
				});

				function mouseover(d, i) {
				  chord.classed("fade", function(p) {
					return p.source.index != i
						&& p.target.index != i;
				  });
				}
			  });
			});
		}
		</script>
    </head>
    
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row-fluid">
                {% include 'sidebar.html' %}
                <!--/span-->
                <div class="span9" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid" >
						<div class="block">
							<div class="navbar navbar-inner block-header">
								<div class="muted pull-left">
									<h4>Language Correlation<h4>
								</div>
							</div>
							
							<div class="block-content collapse in">
								<div class="span12" style="padding-bottom:30px;" id="chart_div">
								
								</div>
							</div>
						</div>
                    </div>

                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; CMPE_272_Group_8</p>
            </footer>
        </div>
        <!--/.fluid-container-->

    </body>

</html>