{% load staticfiles %}

<!DOCTYPE html>
<html>

<meta charset="utf-8">   
    <head>
        <title>Language Correlation</title>
        <!-- Bootstrap -->
        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../../static/assets/styles.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
		<style>
		
		
			#circle circle {
			  fill: none;
			  pointer-events: all;
			}

			.group path {
			  fill-opacity: 1;
			}

			path.chord {
			  stroke: #000;
			  stroke-width: .25px;
			  fill-opacity: 0.5;
			}
		</style>

         <script src="../../static/vendors/jquery-1.9.1.min.js"></script>
        <script src="../../static/vendors/jquery.knob.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="../../static/vendors/d3/d3.min.js"></script>
		<script src="../../static/vendors/d3.layout.cloud.js"></script>
		<script src="../../static/vendors/csvToArray.v2.1.min.js"></script>
		
		<script type='text/javascript'>
		
		$(function() {
			$("ul.bs-docs-sidenav li").attr("class","");
		    $("#correlation").attr("class","active");
			drawCorr()
		});

		function drawCorr(){
		
			var width = 600,
				height = 600,
				outerRadius = Math.min(width, height) / 2 - 10,
				innerRadius = outerRadius - 50;

			var formatPercent = d3.format(".1%");

			var arc = d3.svg.arc()
				.innerRadius(innerRadius)
				.outerRadius(outerRadius);

			var layout = d3.layout.chord()
				.padding(.04)
				.sortSubgroups(d3.descending)
				.sortChords(d3.ascending);

			var path = d3.svg.chord()
				.radius(innerRadius);

			var svg = d3.select("#chart_div").append("svg")
				.attr("width", width)
				.attr("height", height)
			  .append("g")
				.attr("id", "circle")
				.attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

			svg.append("circle")
				.attr("r", outerRadius);

			d3.csv("{% static 'data/lan_names_new.csv' %}", function(lan) {
			  d3.text("{% static 'data/lan_correlation_pos_nonself.txt' %}", function(text) {
				var matrix=d3.csv.parseRows(text).map(function(d) {return d.map(function(i){return parseFloat(i)});});
				console.log(matrix);
				// Compute the chord layout.
				layout.matrix(matrix);
				// Add a group per neighborhood.
				var group = svg.selectAll(".group")
					.data(layout.groups)
				  .enter().append("g")
					.attr("class", "group")
					.on("mouseover", mouseover);

				// Add a mouseover title.
				group.append("title").text(function(d, i) {
				  return lan[i].name;
				});

				// Add the group arc.
				var fill = d3.scale.category20();
				var groupPath = group.append("path")
					.attr("id", function(d, i) { return "group" + i; })
					.attr("d", arc)
					.style("fill", function(d, i) { return fill(i); });

				// Add a text label.
				var groupText = group.append("text")
					.attr("x", 6)
					.attr("dy", 15);

				groupText.append("textPath")
					.attr("xlink:href", function(d, i) { return "#group" + i; })
					.text(function(d, i) { return lan[i].name; });

				// Remove the labels that don't fit. :(
				groupText.filter(function(d, i) { return groupPath[0][i].getTotalLength() / 2 - 16 < this.getComputedTextLength(); })
					.remove();

				// Add the chords.
				var chord = svg.selectAll(".chord")
					.data(layout.chords)
				  .enter().append("path")
					.attr("class", "chord")
					.style("fill", function(d) { return fill(d.source.index); })
					.attr("d", path);

				// Add an elaborate mouseover title for each chord.
				chord.append("title").text(function(d) {
				  return lan[d.source.index].name
					  + " and " + lan[d.target.index].name
					  + ": " + d.source.value
				});

				function mouseover(d, i) {
				  chord.classed("fade", function(p) {
					return p.source.index != i
						&& p.target.index != i;
				  });
				}
			  });
			});
		}
		</script>
    </head>
    
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row-fluid">
                {% include 'sidebar.html' %}

                <div class="span9" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid" >
						<div class="block">
                            <div class="navbar navbar-inner block-header">
								<ul class="nav nav-pills">
								  <li class="active"><a href="#vis" data-toggle="tab">Language Correlation</a></li>
								  <li><a href="#note" data-toggle="tab">Lab note</a></li>
								</ul>

							</div>
							<div class="tab-content" >
								<div class="tab-pane active" id="vis">
									<div class="block-content collapse in" style="text-align: center ;">
										<div class="span12" style="padding-bottom:30px;" id="chart_div">
										
										</div>
									</div>
								</div>
								<div class="tab-pane" id="note">
									<div class="block-content collapse in">
										<h1>Language correlation</h1>
										<p>You may guess that a JavaScript coder is likely to write code in CSS and PHP, and a C programmer is likely to work on C++ projects.</p>
										<p>Or you may imagine that a computer geek who favors Linux Shell and write code in Vim editor would most likely to be an expert on multiple programming languages.</p>
										<p>Now you can validate your&nbsp;speculation with GitHub user behavior data and this visualization tool!&nbsp;</p>
										<h2>Data colletion and processing</h2>
										<p>GitHub user and repository data used in this app is retrieved by Google BigQuery and downloaded as CSV file. The raw data contains a lot of unwanted rows and organized in a schema that is hard to perform analysis. This data is processed in R, where it is trimed and the table is reshaped for easy analysis. R also has very handy statistic utilities, from which we chose spearman&#39;s Rank Correlation to see the links between languages. As output a correlation matrix is generated, with which d3.js, a JavaScript visualization library, is able to draw a nice chord chart.</p>
										<h2>Findings</h2>
										<p>As you can imagine the languages in web development stack have strong relationships with each other. Most Scala coder also contribute to Java projects. Contributors of Go language and Shell script are also very active in project using other languages. &nbsp;Objective-C, C# and Java users seem to limit themselve in programing language spectrums, but this may result from biased sampling, which is discussed below.&nbsp;</p>
										<h2>Limitations&nbsp;</h2>
										<p>Although some relationship can be implied by this chord chart and some of them make perfect sense, it can not be used to draw a final conclusion. The sample we got is not random enough to represent all coders behavior - most project hosted on GitHub are open source, thus the programming languages used by this community is biased, with JavaScript being prevalent while Java or C# projects are less involved.</p>

									</div>
								</div>
							</div>
						</div>
                    </div>

                </div>
            </div>
            <hr>
            <footer>
                <!--<p>&copy; CMPE_272_Group_8</p>-->
            </footer>
        </div>
        <!--/.fluid-container-->

    </body>

</html>