{% load staticfiles %}

<!DOCTYPE html>
<html>
    
    <head>
        <title>Coding Mood</title>
        <!-- Bootstrap -->
        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../../static/assets/styles.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="../../static/vendors/jquery-1.9.1.min.js"></script>
        <script src="../../static/vendors/jquery.knob.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.categories.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.pie.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.time.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.stack.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.resize.js"></script>
        <script src="../../static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="../../static/vendors/d3/d3.min.js"></script>
		<script src="../../static/vendors/d3.layout.cloud.js"></script>
		<script src="../../static/vendors/csvToArray.v2.1.min.js"></script>
		
		<script type='text/javascript'>
		
		
		var lan='Java';
		var type='positive';
		var divWidth;
		var csvAsArray;
		var wordScale;
		
		$(function() {
			$("ul.bs-docs-sidenav li").attr("class","");
		    $("#mood").attr("class","active");
			divWidth=$("#chart_div").width();
			loadData();
            
		});
		
		function loadData(){
			$.ajax({
				url: "../../static/data/sentiment_cloud_updated.csv",
				dataType: 'text',
				cache: false
			}).done(function(csvAsString){
				csvAsArray=csvAsString.csvToArray();
				drawWordCloud();
			});
		}
		
		function cloudByLan(language){		
			lan=language;
			$("#lan_name").html("Language: "+lan);
			drawWordCloud();
		};
		
		function cloudByType(wordType){		
			type=wordType;
			$("#type_name").html(type);
			drawWordCloud();
		};
		
		function drawWordCloud(){
			console.log("start to process data");
			var data= csvAsArray.filter(function(d){return d[2]==lan && d[3]==type;})
			var maxCount=d3.max(data, function(d) { return d[1]; });
			console.log("max count: "+maxCount);
			wordScale=d3.scale.linear().domain([10,maxCount]).range([10,80]).clamp(false);
			console.log("max font size: "+wordScale(maxCount));
			var wordArray=data.map(function(d) {return {text: d[0], size: wordScale(d[1])};});	
			var fill = d3.scale.category20();
			console.log("start to initiate cload");
			$("#chart_div").empty();
			d3.layout.cloud().size([800, 400])
			  .words(wordArray)
			  .padding(0)
			  .rotate(0)
			  .font("Impact")
			  .fontSize(function(d) { return d.size; })
			  .on("end", draw)
			  .start();

			function draw(words) {
				console.log("start to draw");
				d3.select("#chart_div").append("svg")
						.attr("width", 960)
						.attr("height",500)
					.append("g")
						.attr("transform", "translate(480,220)")
					.selectAll("text")
						.data(words)
					.enter().append("text")
						.style("font-size", function(d) { return d.size + "px"; })
						.style("font-family", "Impact")
						.style("fill", function(d, i) { return fill(i); })
						.attr("text-anchor", "middle")
						.attr("transform", function(d) {
							return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
						})
						.text(function(d) { return d.text; });
			};
			
		};
		  

		</script>
    </head>
    
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row-fluid">
                {% include 'sidebar.html' %}
                <!--/span-->
                <div class="span9" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid" >
						<div class="block">
							<div class="navbar navbar-inner block-header">
								<div class="muted pull-left">
									<h4>Coding Mood<h4>
								</div>
								<div class="btn-group pull-right" style="margin:0 0 10px 0">
									  <button class="btn btn-primary" id="lan_name">Language: Java</button>
									  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
									  <ul class="dropdown-menu">
										<li onclick="cloudByLan('Java')"><a href="#">Java</a></li>
										<li onclick="cloudByLan('C++')"><a href="#">C++</a></li>
										<li onclick="cloudByLan('Python')"><a href="#">Python</a></li>
										<li onclick="cloudByLan('Ruby')"><a href="#">Ruby</a></li>
										<li onclick="cloudByLan('PHP')"><a href="#">PHP</a></li>
										<li onclick="cloudByLan('JavaScript')"><a href="#">JavaScript</a></li>
										<li onclick="cloudByLan('C')"><a href="#">C</a></li>
										<li onclick="cloudByLan('C#')"><a href="#">C#</a></li>
										<li onclick="cloudByLan('Objective-C')"><a href="#">Objective-C</a></li>
										<li onclick="cloudByLan('Shell')"><a href="#">Shell</a></li>										
									  </ul>
								</div><!-- /btn-group -->
								<div class="btn-group pull-right" style="margin:0 10px 10px 0">
									  <button class="btn btn-primary" id="type_name">positive</button>
									  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
									  <ul class="dropdown-menu">
										<li onclick="cloudByType('positive')"><a href="#">positive</a></li>
										<li onclick="cloudByType('negative')"><a href="#">negative</a></li>
									  </ul>
								</div><!-- /btn-group -->
							</div>
							
							<div class="block-content collapse in">
								<div class="span12" style="padding-bottom:30px;" id="chart_div">
								
								</div>
							</div>
						</div>
                    </div>

                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; CMPE_272_Group_8</p>
            </footer>
        </div>
        <!--/.fluid-container-->

    </body>

</html>