{% load staticfiles %}

<!DOCTYPE html>
<html>
    
    <head>
        <title>Coding Mood</title>
        <!-- Bootstrap -->
        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../../static/assets/styles.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
		<style>
		div.tooltip {   
		  position: absolute;           
		  text-align: center;           
		  width: 80px;                  
		  height: 28px;                 
		  padding: 2px;             
		  font: 12px sans-serif;        
		  background: white;   
		  border: 0px;      
		  border-radius: 8px;           
		  pointer-events: none;         
		}
		</style>		
		

        <script src="../../static/vendors/jquery-1.9.1.min.js"></script>
        <script src="../../static/vendors/jquery.knob.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="../../static/vendors/d3/d3.min.js"></script>
		<script src="../../static/vendors/d3.layout.cloud.js"></script>
        <script src="../../static/vendors/jquery.csv-0.71.min.js"></script>

		<script type='text/javascript'>
		
		var type='Web Frameworks';
		var csvAsArray;
		var wordScale;
		
		$(function() {
			$("ul.bs-docs-sidenav li").attr("class","");
		    $("#hottechs").attr("class","active");
			loadData();
            
		});
		
		function loadData(){
			$.ajax({
				url: "../../static/data/hottest_techs.csv",
				dataType: 'text',
				cache: false
			}).done(function(csvAsString){
				csvAsArray = $.csv.toArrays(csvAsString);
				csvAsArray = csvAsArray.map(function(d){ return [d[0],parseInt(d[1]),d[2]] });
				drawWordCloud();
			});
		}
		
		function cloudByType(techType){		
			type=techType;
			$("#type_name").html(type);
			drawWordCloud();
		};
		
		function drawWordCloud(){
			var data= csvAsArray.filter(function(d){return d[2]==type;})
			console.log("filtered data:");
			console.log(data);
			var maxCount=d3.max(data, function(d) { return d[1]; });
			console.log("max count: "+maxCount);
			wordScale=d3.scale.linear().domain([1,maxCount/10,maxCount]).range([15,60,100]).clamp(true);
			console.log("max font size: "+wordScale(maxCount));
			var wordArray=data.map(function(d) {return {text: d[0], count: d[1], size: wordScale(d[1])};});	
			var fill = d3.scale.category20();
			console.log("start to initiate cloud");
			$("#chart_div").empty();
			d3.layout.cloud().size([960, 400])
			  .words(wordArray)
			  .padding(0)
			  .rotate(function() { return ~~(Math.random() * 2) * 90; })
			  .font("Impact")
			  .fontSize(function(d) { return d.size; })
			  .on("end", draw)
			  .start();
			  

			function draw(words) {
				var div = d3.select("body").append("div")   
					.attr("class", "tooltip")               
					.style("opacity", 0);
			
				console.log("start to draw");
				d3.select("#chart_div").append("svg")
						.attr("width", 960)
						.attr("height",400)
					.append("g")
						.attr("transform", "translate(450,200)")
					.selectAll("text")
						.data(words)
					.enter().append("text")
						.style("font-size", function(d) { return d.size + "px"; })
						.style("font-family", "Impact")
						.style("fill", function(d, i) { return fill(i); })
						.attr("text-anchor", "middle")
						.attr("transform", function(d) {
							return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
						})
						.text(function(d) { return d.text; })
						.on("mouseover", function(d) {      
							div.transition()        
								.duration(200)      
								.style("opacity", .9);      
							div .html( d.text + "<br/>"+d.count)  
								.style("left", (d3.event.pageX) + "px")     
								.style("top", (d3.event.pageY - 28) + "px");    
							})                  
						.on("mouseout", function(d) {       
							div.transition()        
								.duration(500)      
								.style("opacity", 0);   
						});
						
			};
			
		};

		</script>
    </head>
    
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row-fluid">
                {% include 'sidebar.html' %}
                <!--/span-->
                <div class="span9" id="content">
                    <div class="row-fluid" >
						<div class="block">
							<div class="navbar navbar-inner block-header">
								<ul class="nav nav-pills">
								  <li class="active"><a href="#vis" data-toggle="tab">Hottest Techs</a></li>
								  <li><a href="#note" data-toggle="tab">Lab note</a></li>
								</ul>

							</div>
							<div class="tab-content" >
								<div class="tab-pane active" id="vis">
									<div class="block-content collapse in">
										<div class="btn-group pull-right" style="margin:0 10px 10px 0">
											  <button class="btn btn-primary" id="type_name">Web Frameworks</button>
											  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
											  <ul class="dropdown-menu">
												<li onclick="cloudByType('Web Frameworks')"><a href="#">Web Frameworks</a></li>
												<li onclick="cloudByType('JavaScript Frameworks')"><a href="#">JavaScript Frameworks</a></li>
												<li onclick="cloudByType('NoSQL DBs')"><a href="#">NoSQL DBs</a></li>
                                                <li onclick="cloudByType('Java Technologies')"><a href="#">Java Technologies</a></li>
											  </ul>
										</div><!-- /btn-group -->
										<div class="span12" style="padding-bottom:30px;" id="chart_div">
										
										</div>
									</div>
								</div>
								<div class="tab-pane" id="note">	
									<div class="block-content tab-content collapse in">
										<h1> Hottest Technologies</h1><br>
                                        <p><h4> What are the hottest technologies in GitHub world nowadays? </h4></p><br>
                                        <h1> Data Specification</h1><br>
                                        <p> <h4>- The Raw data collected is 9.51 GB.<br><br>
                                            - Total number of rows we got after processing the above data is 1158.<br><br>
                                            - Data is collected up to 19th November 2013.</h4><br><br>
                                        </p>
									</div>
								</div>
							</div>
						</div>
                    </div>

                </div>
            </div>
            <hr>
            <footer>
                <!--<p>&copy; CMPE_272_Group_8</p>-->
            </footer>
        </div>
        <!--/.fluid-container-->
    <script type="text/javascript">
            $(function(){
                $('.block .navbar').append('<button id="zoom" class="btn btn-success" id="lan_name" style="float: right;">Full Screen</button>');

                $("#zoom").click(function(){
                    var isFullScreen = ($("#sidebar").css("display") == "none");

                    $("#sidebar").toggle();

                    if(isFullScreen) {
                        $("#content").removeClass("span12").addClass("span9");
                    } else {
                        $("#content").removeClass("span9").addClass("span12");
                    }
                })
            });
        </script>

    </body>

</html>