{% extends "base.html" %}

{% block yield %}

 <div class="span9" id="content">
    <div class="row-fluid">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">
                    <h4>Introduction</h4>
                </div>
            </div>
            <div class="block-content collapse in">
                <div class="span12" style="padding-bottom: 30px; position: relative;" id="chart_div"><div style="display: none; position: absolute; top: 599px; left: 953px; white-space: nowrap; font-family: Arial; font-size: 15px;">10,071,026</div></div>
                <p><strong><h4>The goal of "Octocat's data lab" is to provide the visual analysis of the
                    GitHub data to millions of users throughout the world using which they
                    can plan their future.</h4><br></strong>
                    <strong>Main Functionality of “Octocat's data lab” is,</strong><br><br>
                    <h5>1.	Language Correlation: </h5> To analyze the data from GitHub and show user the
                        correlation between various programming languages.<br>
                    <h5>2.	Geek Planet: </h5> To display the visual representation of the data being
                        committed to GitHub from various parts of the world.<br>
                    <h5>3.	Coding Mood: </h5> What is the mood of the developer while working with
                        different programming languages?<br>
                    <h5>4.	Hottest Technologies: </h5>  What hottest technologies are currently in the
                        market?<br>
                    <h5>5.	Language Trends: </h5> Total number of commits made for a particular programming
                        language on a given day.<br>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}