{% extends "base.html" %}

{% block yield %}

 <div class="span9" id="content">
    <div class="row-fluid">
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">
                    <h4>Introduction</h4>
                </div>
            </div>
            <div class="block-content collapse in">
                <div class="span12" style="padding-bottom: 30px; position: relative;" id="chart_div"><div style="display: none; position: absolute; top: 599px; left: 953px; white-space: nowrap; font-family: Arial; font-size: 15px;">10,071,026</div></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}