<!DOCTYPE html>
<html>
    
    <head>
        <title>Geek Planet</title>
        <!-- Bootstrap -->
        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../../static/assets/styles.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="../../static/vendors/jquery-1.9.1.min.js"></script>
        <script src="../../static/vendors/jquery.knob.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="../../static/vendors/csvToArray.v2.1.min.js"></script>
		<script type='text/javascript' src='https://www.google.com/jsapi'></script>
		
		<script type='text/javascript'>
			google.load('visualization', '1', {'packages': ['geochart']});
			google.setOnLoadCallback(loadData);

			var lan='All';
			var type='Commit Count';
			var data;
			var populationData;
			var view;
			var options;

            $(function(){
                $("ul.bs-docs-sidenav li").attr("class","");
                $("#planet").attr("class","active");
            });
			
			function loadData(){
				$.ajax({
						url: "../../static/data/github_commits_all.csv",
						dataType: 'text',
						cache: false
				 }).done(function(csvAsString){
						var csvAsArray=csvAsString.csvToArray();
						//alert(csvAsArray);
						data = google.visualization.arrayToDataTable(csvAsArray);
						draw();
				 });
			};
			
			function mapByLan(language){		
				lan=language
				$("#lan_name").html("Language: "+lan);
				draw();
			};
			
			function mapByType(queryType){		
				type=queryType
				$("#type_name").html(type);
				draw();
			};
			
			function draw(){
				var columnNum=1;
				var colorArray=["#FEF0D9", "#FDCC8A", "#FC8D59", "#E34A33", "#B30000"];
			
				if(lan=='Java'|| lan=='Shell'){
					colorArray=["#FFFFD4","#FED98E","#FE9929","#D95F0E","#993404" ];
				}else if(lan=='C++' ||  lan=='C'){
					colorArray=["#FFFFCC", "#C2E699", "#78C679", "#31A354", "#006837"];
				}else if(lan=='Python'|| lan=='C#'){
					colorArray=["#F1EEF6", "#BDC9E1", "#74A9CF", "#2B8CBE", "#045A8D"];
				}else if(lan=='Ruby'|| lan=='JavaScript'){
					colorArray=["#F1EEF6", "#D7B5D8", "#DF65B0", "#DD1C77", "#980043" ];
				}else if(lan=='PHP'||lan=='Objective-C'){
					colorArray=["#F6EFF7", "#BDC9E1", "#67A9CF", "#1C9099", "#016C59" ];
				}
				
				if(type=='Commit Count'){
					columnNum=1;
				}else if(type=='Commits per 100,000 People'){
					columnNum=3;
				}else{
					columnNum=4;
				}
				
				
				
				options = {colorAxis:{minValue: 0, colors: colorArray}};
				view = new google.visualization.DataView(data);
				view.setRows(view.getFilteredRows([{column: 5, value: lan}]));
				view.setColumns([0, {calc:function(dataTable, rowNum){return parseFloat(dataTable.getValue(rowNum, columnNum));}, type:'number', label:type }]);
				
				
				var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
				chart.draw(view, options);	
			}
		  

		</script>
    </head>
    
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row-fluid">
                {% include 'sidebar.html' %}
                <!--/span-->
                <div class="span9" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid" >
						<div class="block">
                            <div class="navbar navbar-inner block-header">
								<ul class="nav nav-pills">
								  <li class="active"><a href="#vis" data-toggle="tab">Geek Planet</a></li>
								  <li><a href="#note" data-toggle="tab">Lab note</a></li>
								</ul>

							</div>
							<div class="tab-content" >
								<div class="tab-pane active" id="vis">
									<div class="block-content collapse in">	
										<div class="btn-group pull-right" style="margin:0 0 10px 0">
											  <button class="btn btn-primary" id="lan_name">Language: All</button>
											  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
											  <ul class="dropdown-menu">
												<li onclick="mapByLan('Java')"><a href="#">Java</a></li>
												<li onclick="mapByLan('C++')"><a href="#">C++</a></li>
												<li onclick="mapByLan('Python')"><a href="#">Python</a></li>
												<li onclick="mapByLan('Ruby')"><a href="#">Ruby</a></li>
												<li onclick="mapByLan('PHP')"><a href="#">PHP</a></li>
												<li onclick="mapByLan('JavaScript')"><a href="#">JavaScript</a></li>
												<li onclick="mapByLan('C')"><a href="#">C</a></li>
												<li onclick="mapByLan('C#')"><a href="#">C#</a></li>
												<li onclick="mapByLan('Objective-C')"><a href="#">Objective-C</a></li>
												<li onclick="mapByLan('Shell')"><a href="#">Shell</a></li>										
												<li class="divider"></li>
												<li onclick="mapByLan('All')"><a href="#">All</a></li>
											  </ul>
										</div><!-- /btn-group -->
										<div class="btn-group pull-right" style="margin:0 10px 10px 0">
											  <button class="btn btn-primary" id="type_name">Commit Count</button>
											  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
											  <ul class="dropdown-menu">
												<li onclick="mapByType('Commit Count')"><a href="#">Commit Count</a></li>
												<li onclick="mapByType('Commits per 100,000 People')"><a href="#">Commits per 100,000 People</a></li>
												<li onclick="mapByType('Population')"><a href="#">Population</a></li>
											  </ul>
										</div><!-- /btn-group -->	
										<div class="span12" style="padding-bottom:30px;" id="chart_div">
										</div>
									</div>
								</div>
								<div class="tab-pane" id="note">
									<div class="block-content collapse in">	
										<h1> Geek Planet </h1><br>
                                        <p> <h4> Suppose somebody wants to start his own company, he may want to have some idea about what can
                                            be the most prolific locations to start the business.</h4> </p><br>
                                        <p> <h4> For example, based on the information shown in the graph, a recruiter may get an idea that from which place
                                            he can hire more number of PHP or Java geeks based on their requirements.</h4></p><br>
                                        <h1> Data Specification</h1><br>
                                        <p> <h4>- The Raw data collected is 3.51 GB.<br><br>
                                            - Total number of rows we got after processing the above data is 188975.<br><br>
                                            - Data is collected from 1st January 2013 to 19th November 2013.<br><br></h4>
                                        </p>
									</div>
								</div>
							</div>
						</div>
                    </div>

                </div>
            </div>
            <hr>
            <footer>
                <!--<p>&copy; CMPE_272_Group_8</p>-->
            </footer>
        </div>
        <!--/.fluid-container-->
        <script type="text/javascript">
            $(function(){
                $('.block .navbar').append('<button id="zoom" class="btn btn-success" id="lan_name" style="float: right;">Full Screen</button>');

                $("#zoom").click(function(){
                    var isFullScreen = ($("#sidebar").css("display") == "none");

                    $("#sidebar").toggle();

                    if(isFullScreen) {
                        $("#content").removeClass("span12").addClass("span9");
                    } else {
                        $("#content").removeClass("span9").addClass("span12");
                    }
                })
            });
        </script>
    </body>

</html>