<!DOCTYPE html>
<html>
    
    <head>
        <title>Statistics</title>
        <!-- Bootstrap -->
        <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="../../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
        <link href="../../static/assets/styles.css" rel="stylesheet" media="screen">
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="vendors/flot/excanvas.min.js"></script><![endif]-->
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="../../static/vendors/jquery-1.9.1.min.js"></script>
        <script src="../../static/vendors/jquery.knob.js"></script>
        <script src="../../static/vendors/raphael-min.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.categories.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.pie.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.time.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.stack.js"></script>
        <script src="../../static/vendors/flot/jquery.flot.resize.js"></script>
        <script src="../../static/vendors/modernizr-2.6.2-respond-1.1.0.min.js"></script>
		<script src="../../static/vendors/csvToArray.v2.1.min.js"></script>
		<script type='text/javascript' src='https://www.google.com/jsapi'></script>
		
		<script type='text/javascript'>
			google.load('visualization', '1', {'packages': ['geochart']});
			google.setOnLoadCallback(loadData);

			var lan='All';
			var type='Commit Count';
			var data;
			var view;
			var options;
			
			function loadData(){
				$.ajax({
						url: "../../static/data/github_commits_by_country.csv",
						dataType: 'text',
						cache: false
				 }).done(function(csvAsString){
						var csvAsArray=csvAsString.csvToArray();
						//alert(csvAsArray);
						data = google.visualization.arrayToDataTable(csvAsArray);
						draw();
				 });
			};
			
			function mapByLan(language){		
				lan=language
				$("#lan_name").html("Language: "+lan);
				draw();
			};
			
			function mapByType(queryType){		
				type=queryType
				$("#type_name").html(type);
				draw();
			};
			
			function draw(){
				var columnNum=1;
				var colorArray=["#FEF0D9", "#FDCC8A", "#FC8D59", "#E34A33", "#B30000"];
			
				if(lan=='Java'){
					colorArray=["#FFFFD4","#FED98E","#FE9929","#D95F0E","#993404" ];
				}else if(lan=='C++'){
					colorArray=["#FFFFCC", "#C2E699", "#78C679", "#31A354", "#006837"];
				}else if(lan=='Python'){
					colorArray=["#F1EEF6", "#BDC9E1", "#74A9CF", "#2B8CBE", "#045A8D"];
				}else if(lan=='Ruby'){
					colorArray=["#F1EEF6", "#D7B5D8", "#DF65B0", "#DD1C77", "#980043" ];
				}else if(lan=='Perl'){
					colorArray=["#F6EFF7", "#BDC9E1", "#67A9CF", "#1C9099", "#016C59" ];
				}
				
				if(type=='Commit Count'){
					columnNum=1;
				}else if(type=='Commits per 100,000 People'){
					columnNum=3;
				}else{
					columnNum=4;
				}
				
				options = {colorAxis:{minValue: 0, colors: colorArray}};
				view = new google.visualization.DataView(data)
				view.setColumns([0, {calc:function(dataTable, rowNum){return parseFloat(dataTable.getValue(rowNum, columnNum));}, type:'number', label:type }]);
				
				
				var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
				chart.draw(view, options);	
			}
		  

		</script>
    </head>
    
    <body>
        {% include 'navbar.html' %}
        <div class="container-fluid">
            <div class="row-fluid">
                {% include 'sidebar.html' %}
                <!--/span-->
                <div class="span9" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid" >
						<div class="block">
							<div class="navbar navbar-inner block-header">
								<div class="muted pull-left">
									Geek Planet
								</div>
								<div class="btn-group pull-right" style="margin:0 0 10px 0">
									  <button class="btn btn-primary" id="lan_name">Language: All</button>
									  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
									  <ul class="dropdown-menu">
										<li onclick="mapByLan('Java')"><a href="#">Java</a></li>
										<li onclick="mapByLan('C++')"><a href="#">C++</a></li>
										<li onclick="mapByLan('Python')"><a href="#">Python</a></li>
										<li onclick="mapByLan('Ruby')"><a href="#">Ruby</a></li>
										<li onclick="mapByLan('Perl')"><a href="#">Perl</a></li>
										<li class="divider"></li>
										<li onclick="mapByLan('All')"><a href="#">All</a></li>
									  </ul>
								</div><!-- /btn-group -->
								<div class="btn-group pull-right" style="margin:0 10px 10px 0">
									  <button class="btn btn-primary" id="type_name">Commit Count</button>
									  <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
									  <ul class="dropdown-menu">
										<li onclick="mapByType('Commit Count')"><a href="#">Commit Count</a></li>
										<li onclick="mapByType('Commits per 100,000 People')"><a href="#">Commits per 100,000 People</a></li>
										<li onclick="mapByType('Population')"><a href="#">Population</a></li>
									  </ul>
								</div><!-- /btn-group -->
							</div>
							
							<div class="block-content collapse in">
								<div class="span12" style="padding-bottom:30px;" id="chart_div">
								</div>
							</div>
						</div>
                    </div>

                </div>
            </div>
            <hr>
            <footer>
                <p>&copy; Vincent Gabriel 2013</p>
            </footer>
        </div>
        <!--/.fluid-container-->

    </body>

</html>